{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Daftar Hewan Qurban {% endblock %}</h1>
    <table class="table">
        <th>No</th>
        <th>Jenis</th>
        <th>Berat</th>
        <th>Keterangan</th>
        <th>Waktu Input</th>
        <th>Aksi</th>
        {% for post in posts %}
            <tr>
                <td>{{ post['id'] }} </td>       
                <td>{{ post['jenis'] }} </td>       
                <td>{{ post['berat'] }} </td>       
                <td>{{ post['keterangan'] }} </td>    
                <td>{{ post['created'] }} </td>    
                <td>
                    <a href="{{url_for('hewan_edit', id=post['id'])}}"><span class="badge badge-warning">Ubah</span></a> 
                    <a href="{{ url_for('hewan_delete', id=post['id']) }}">
                        <span class="badge badge-danger" onclick="return confirm('Yakin akan hapus data?')">Hapus</span>
                    </a> 
                </td>    
            <tr>
         {% endfor %}
    </table>
    <a href="{{url_for('hewan_new')}}">
        <span class="badge badge-success">Tambah</span>
    </a>
{% endblock %}